@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-color: #0088FF;
  --hover-btn-color: #378bf9;
  --secondary-color: rgba(35, 183, 299,1);
  --input: 220, 14%, 96%; /* Ví dụ về màu nền input */
  --primary: 240, 6%, 10%, 1; /* Ví dụ về màu nền primary */
  /* Thêm các biến khác nếu cần */
}
body{
  background-color: rgba(240, 241, 247, 1) !important;
  
}
body[data-scroll-locked="1"] {
  pointer-events: auto !important;
}
/* src/styles/global.css */
.page{
  height: 100vh;
}
/* header */
.app-header{
  padding-left: 240px;
}
.main-header{
  padding: 0 15px;
}
.header-link{
  padding: 1rem 0.8rem;
}
.header-link-icon{
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #536485;
}

.badge-bell{
  top: 4px; 
  right: 2px;
  font-size: 10px;
  background-color: var(--primary-color);

}
/* Accordion */

.sildebar-accordion .border-b{
   border: 0 !important;
}

.main-slidebar .sibe-menu__item{
  padding: 0.45rem 1.6rem;
  color: #a3aed1;
  font-size: 13px;
}
.app-aside {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-slidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}



/* main content */
.main-content{
  margin-left: 240px;
  margin-top: 3.6rem;
  height: calc(100vh - 50px);
}

/* card */
.container{
  padding: 0 15px;
}
.cloudinary-widget {
  z-index: 9999 !important;
  position: fixed !important;
}


@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px); }
to {opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

